
<div class="container">
    <br>
    <div class="text-center"><h2>Image Gallery</h2></div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a target="_blank">
            <img src="https://image.freepik.com/vector-gratis/consejos-coronavirus-prevencion_23-2148492634.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a  target="_blank">
            <img src="https://image.freepik.com/vector-gratis/infografia-prevencion-coronavirus_23-2148524152.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a target="_blank">
            <img src="https://image.freepik.com/vector-gratis/prueba-rapida-covid-19_23-2148539952.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>